<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Ninja Gold</title>
</head>
<body>
<div class='container-fluid'>
    <h1 class='mt-5'>Current Gold: {{request.session.current_gold}}</h1>

    <div class='card-deck mt-4'>

        <div class='card bg-success text-center text-white pt-3 rounded-lg'>
            <h2 class='card-title'>Farm</h2>
            <p class='card-text'>earn 10 - 40 gold</p>
            <div class='card-footer border-top-0 bg-success mb-3'>
                <form action='/process_gold' method="POST">
                    {% csrf_token %}
                    <input type='hidden' name='location' value='farm'>
                    <button class='btn btn-light w-25'>Collect</button>
                </form>
            </div>
        </div><!-- END OF FARM-->

        <div class='card bg-danger text-center text-white pt-3 rounded-lg'>
            <h2 class='card-title'>House</h2>
            <p class='card-text'>earn 5 - 20 gold</p>
            <div class='card-footer bg-danger border-top-0'>
                <form action='/process_gold' method="POST">
                    {% csrf_token %}
                    <input type='hidden' name='location' value='house'>
                    <button class='btn btn-light w-25'>Collect</button>
                </form>
            </div>
        </div><!-- END OF HOUSE-->

        <div class='card bg-primary text-center text-white pt-3 rounded-lg'>
            <h2 class='card-title'>Cave</h2>
            <p class='card-text'>discover 1 - 100 gold</p>
            <div class='card-footer bg-primary border-top-0'>
                <form action='/process_gold' method="POST">
                    {% csrf_token %}
                    <input type='hidden' name='location' value='cave'>
                    <button class='btn btn-light w-25'>Discover</button>
                </form>
            </div>
        </div><!-- END OF CAVE-->

        <div class='card bg-warning text-center pt-3 rounded-lg'>
            <h2 class='card-title'>Casino</h2>
            <p class='card-text'> win or lose 100 gold</p>
            <div class='card-footer bg-warning border-top-0 '>
                <form action='/process_gold' method="POST">
                    {% csrf_token %}
                    <input type='hidden' name='location' value='casino'>
                    <button class='btn btn-light w-25'>Gamble!</button>
                </form>
            </div>
        </div><!-- END OF CASINO-->

    </div><!-- END OF .DECK-->

    <div class='mt-4'><!-- an Activity log tracking submissions-->
        <h1>Activities</h1>
        <pre class='pre-scrollable mb-1 border border-dark rounded-lg'>
            {% for act in activity %}
                {{ act }}
            {% endfor %}
        </pre>
    </div><!-- END OF ACTIVITY LOG-->

<!-- ADD A RESET BUTTON-->

</div><!-- END OF CONTAINER-->





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    crossorigin="anonymous"></script>
</body>
</html>